# streamlit
conda
easyocr
imutils 
# opencv-python-headless==4.1.2.30 
opencv-python
# streamlit-aggrid
# streamlit-aggrid.grid_options_builder
firebase
# pyrebase
Pyrebase==3.0.27
wheel==0.23.0
Yarg==0.1.9
# auxlib==0.0.43
docopt==0.6.2
